* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Arial', sans-serif;
  }
  
  .banner {
    background-color: rgb(195, 188, 188);
    background-image: url(header.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 90px;
    text-align: center;
    font-size: 3vw;
    color: white;
  }

  .banner img{
      width: 100%;
      height: auto;
   }


  @media (max-width: 768px) {
    .banner {
      font-size: 4vw;
    }
}

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    background: white;
    padding: 1rem;
  }

  #main-heading {
    color: rgb(221, 100, 199);
    text-shadow: 1px 1px 2px black, 0 0 25px powderblue, 0 0 5px pink;
    text-align:right;
  }

  .menu {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  
  .menu li a {
    display: block;
    text-decoration:none;
    color: black;
    padding: 0.5rem 1rem;
    font-size: 1.2em;
  }
  
  .menu li a:hover {
    background-color: palevioletred;
    color: white;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    width: 25px;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: black;
  }
  .hamburger {
      display: flex;
    }

  /* Media query for smaller screen sizes */
  @media (max-width: 768px) {
    .menu {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      flex-direction: column;
      background-color: white;
      z-index: 1;
    }
    .topic{
            width: 100%;
          }
     #edit{
      margin-top: 10 em;
    }
     #ach{
      margin-top: 2rem;
     }
}      
    .menu li {
      text-align: center;
      margin: 0;
    }
  
    .menu.active {
      display: flex;
    }
    
/* Main Content section */
.main_content {
    display:grid; 
    grid-template-columns: 1fr;
    grid-gap:1.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
  }
  
  .topic {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom:0;
    grid-column:1;
    text-align: center;
    justify-self: center;
  }
  #education h2{
    margin-bottom: 0;
  }
  #education ul{
    padding-top: 0;
  }
  section h2 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0;
  }
  .main_content ul{
    margin-bottom: 0;
  }

 .main_content img {
    width: 100%;
    height: auto;
    max-width: 800px;
    display:grid;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
   }

   .Contact img{
      width: 100%;
      height: auto;
   }

  /* Animate the main content */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .main_content {
    animation: fadeInUp 1s ease-in-out;
}
 
  .main_content article {
    display: grid;
    grid-template-columns: 1fr;
  }
   
  .highlight {
    background: linear-gradient(120deg, #e4a0a1 0%, #b8e1ff 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 120%;
}   
.highlight2{
    background-color:  #b8e1ff ;
}
/* Media query for larger screen sizes */
  @media (min-width: 900px) {
    .main_content {
      grid-template-columns: 1fr 1fr;
      grid-gap:10rem;
    }
    
    .topic {
      grid-column: 1 / 3; 
    }
    .main_content article {
      display: grid;
      grid-template-columns: 1fr;
    }
    #education h2{
      margin-bottom: 1rem;
    }
    #education ul{
      padding-top: 1rem;
      margin-top: 1rem;
    }
    #Research h2{
      margin-bottom: 1rem;
    }
    #Research ul{
      margin: 1rem
    }

  }
  
  @media (max-width: 1200px) {
    .main_content {
      grid-template-columns: 1fr;
    }
  
    .topic {
      grid-column: 1;
    }
  }
  /*Additional page styling*/
  .add_page{
    background-color: #b8e1ff;
    font-size: 18px;
    line-height: 1.6;
  }
  .add_page2{
    background-color: #b8e1ff;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 1.5em;
  }
  .back{
    background-color: #b8e1ff;
  }
  #ach h4{
    line-height: 3;
  }
  

  #edit{
    color: rgb(221, 100, 199);
    text-shadow: 1px 1px 2px black, 0 0 25px powderblue, 0 0 5px pink;
    text-align:center;
    margin-top: 1.5em;
    padding-top: 1rem;
    margin-bottom: 0;
    font-size: 2.3 rem;
  }
   #first h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color:rgb(19, 13, 45);
}
 #second h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color:rgb(19, 13, 45);
}
.main_content2  {
  max-width: 900px;
  margin: 0 auto;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.main_content2 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1.5rem;
}
.back {
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 1rem;
}

@media (min-width: 992px) {
  .main_content2 {
    grid-template-columns: 1fr 1fr;
    grid-gap:10rem;
  }
}
    
  
  
  
  
  
  
  